h1{
    background-color: rgb(27, 27, 131);
    color: white;
    text-align: center;
    margin: 0;
    height: 32px;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:20px;
}

body{
    margin: 0;
}

h2{
    font-size: 35px;
    margin-left: 10px;
    margin-top:40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    width: 300px;
    height: 35px;
    margin-left: 10px;
}

input{
    margin-left: 10px;
    height: 35px;
    width: 292px;
}

#current-card{
    background-color:  rgb(27, 27, 131);
    color: white;
    text-align: center;
    border-radius: 15px;
    border: 1px solid;
    width: 1000px;
    height: 275px;
    position: relative;
    bottom: 150px;
    margin-right: 550px;
    margin-left: auto;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}