h1{
    background-color: rgb(27, 27, 131);
    color: white;
    text-align: center;
    margin: 0;
    height: 32px;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:20px;
}

body{
    margin: 0;
}

h2{
    font-size: 35px;
    margin-left: 10px;
    margin-top:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    width: 300px;
    height: 35px;
    margin-left: 10px;
}

input{
    margin-left: 10px;
    height: 35px;
    width: 292px;
}

#current-card{
border: 1px solid;
width: 1000px;
height: 275px;
position: relative;
margin-right: 550px;
margin-left: auto;
margin-top: -150px;
font-size: 20px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}